@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

/****************************************************/
/***********************HEADER***********************/
/****************************************************/

.header {
  display: flex;
  padding: 0.5rem 2rem;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

.logo {
  width: 12rem;
}


.menu-link {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
}

.width-bg {
  background-color: #74b7ff;

}

/****************************************************/
/***********************INDEX***********************/
/****************************************************/

.bienvenidos {
  height: 100vh;
  background-image: url(../img/antheainicio.png);
  background-repeat: no-repeat;
  background-size: cover;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: x-large;
}

h1 {
  padding: 3%;
  border-radius: 0.6rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.247);
}

/********************************************************************/
/***********************NUESTRAS INSTALACIONES***********************/
/********************************************************************/

.antheapic{
  padding: 4%;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 1.5rem;
}

.antheapic__img {
  background-color: #ffb774;
  padding: 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.antheapic__img5 { 
  grid-row: span 2;
  grid-column: span 2;
}

.antheapic__img6{ 
  grid-row: span 2;
  grid-column: span 2;
}

.antheapic__img7 { 
  grid-row: span 2;
  grid-column: span 2;
}


.antheapic__img8 {
  grid-row: span 2;
  grid-column: span 2;
 
 ; /* agregar una transición suave */
}

.antheapic__img:hover {
  transition: transform 0.5s;
  transform: scale(1.1); /* ampliar la imagen al pasar el mouse */
}



/***RESPONSIVE CELUS**/  

@media (max-width: 425px) {

  .antheapic{
    padding: 4%;
    flex-wrap: wrap;
    max-width: 1250px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1.5rem;
  }

  .antheapic__img1 { 
    grid-row: span 2;
    grid-column: span 2;
  }

  .antheapic__img2 { 
    grid-row: span 2;
    grid-column: span 2;
  }

  .antheapic__img3 { 
    grid-row: span 2;
    grid-column: span 2;
  }

  .antheapic__img4 { 
    grid-row: span 2;
    grid-column: span 2;
  }



}











/********************************************************************/
/*****************************SERVICIOS******************************/
/********************************************************************/

.servicios {
  padding: 4%;
  flex-wrap: wrap;
  max-width: 1250px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 1.5rem;
  
}


@media (max-width: 768px) {
  .servicios {
    padding: 4%;
    flex-wrap: wrap;
    max-width: 1250px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 1.5rem;
    
  }
  
  .servicios__img1 {
    grid-row: span 3;
    grid-column: span 3;
  }
  
  .servicios__img2 {
    grid-row: span 3;
    grid-column: span 3;
  }

  .servicios__img3 {
    grid-row: span 3;
    grid-column: span 3;
  }

  .servicios__img4 {
    grid-row: span 3;
    grid-column: span 3;
  }

  .servicios__img5 {
    grid-row: span 3;
    grid-column: span 3;
  }

  .servicios__img6 {
    grid-row: span 3;
    grid-column: span 3;
  }

  .servicios__img7 {
    grid-row: span 3;
    grid-column: span 3;
  }

  .servicios__img8 {
    grid-row: span 3;
    grid-column: span 3;
  }

}



/********************************************************************/
/*****************************UBICACION******************************/
/********************************************************************/

.ubicacion { 
  padding: 1rem 20%;
  height: auto;
  flex-wrap: wrap;
  display: flex;}

.bordemapa {
  background-color: #ffb774;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.descripcion {justify-content: center;
text-align: center;
font-size: larger;}

/********************************************************************/
/*****************************CONTACTO******************************/
/********************************************************************/
.contacto-title {
  font-size: xx-large;
  align-items: center;
  text-align: center;
}

.formulario {

  align-items: center;
  overflow: hidden;

  font-weight: bold;
}

/********************************************************************/
/*****************************FOOTER******************************/
/********************************************************************/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #74b7ff;
  padding: 10px;
  text-align: center;
}

body {
  min-height: 100vh;
  margin-bottom: 50px; 
  
}